:root{
    --pink: #ff0080;
    --blue: #0080ff;
    --bgimage:linear-gradient(to right, rgb(185, 147, 214), rgb(140, 166, 219));
    --box-shadow: 0px .5rem 1.5rem rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
body{
  background:#f7f7f7;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrolling-padding-top: 5.5rem;
}
/* body{
    background-image: linear-gradient(to right, rgb(185, 147, 214), rgb(140, 166, 219));
    height: 100vh;	
} */
*::selection{
    /* background:var(--red); */
    background-color:  rgb(140, 166, 219);
    color:#fff;
  }
  
  .heading{
    text-align: center;
    font-size: 3.5rem;
    padding:1rem;
    color:#666;
    margin-bottom: 2rem;	
  }
  
  .heading span{
    color: var(--pink);
  }
  
  .btn{
    display: inline-block;
    padding:.8rem 3rem;
    border:.2rem solid rgb(140, 166, 219);
    color:rgb(140, 166, 219);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }
  
  .btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:rgb(140, 166, 219);
    transition: .3s linear;
    z-index: -1;
  }
  
  .btn:hover::before{
    width:100%;
    left: 0;
  }
  
  .btn:hover{
    color:#fff;
  }
  

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

/* header .logo{
    font-size: 2.5rem;
    color: var(--blue);
    font-weight: bolder;
} */
header .logo img{
    height:4rem;
}

header .navbar a{
    font-size: 1.7rem;
    color:black;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    transition: all 0.2s linear;
}
header .navbar a.active,
header .navbar a:hover{
    color: white;
    background-image: var(--bgimage);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: 1rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: black;
    border-radius: 50%;
    background:#eee;

}
header .icons i:hover,
header .icons a:hover{
    /* background: var(--blue); */
    background-image: var(--bgimage);
    color: white;
    /* transform:rotate(360deg); */
}
header .icons #menu-bars{
    display: none;
}
.header_button{
    padding: 1.5rem 2rem;
    border-radius: 2rem !important;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background:url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  section{
    padding:2rem 9%;
  }
  
  .home .content{
    flex:1 1 40rem;
    padding-top: 6.5rem;
  }
  
  .home .image{
    flex:1 1 40rem;
  }
  
  .home .image img{
    width:100%;
    padding:2rem;
    animation:float 3s linear infinite;
  }
  
  @keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(3rem);
    }
  }
  
  .home .content h3{
    font-size: 5rem;
    color:#333;
  }
  
  .home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
  }


  .speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .speciality .box-container .box{
    flex:1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
  }
  
  .speciality .box-container .box .image{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    top:-100%; left:0;
  }
  
  .speciality .box-container .box .content{
    text-align: center;
    background:#fff;
    padding:2rem;
  }
  
  .speciality .box-container .box .content img{
    margin:1.5rem 0;
  }
  
  .speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .speciality .box-container .box .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
  }
  
  .speciality .box-container .box:hover .image{
    top:0;
  }
  
  .speciality .box-container .box:hover .content{
    transform: translateY(100%);
  }
  
  .wrapper{
    width: 400px;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .wrapper header{
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
  }
  header label{
    height: 100%;
    z-index: 2;
    width: 30%;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  #tab-1:checked ~ header .tab-1,
  #tab-2:checked ~ header .tab-2,
  #tab-3:checked ~ header .tab-3{
    color: #fff;
  }
  header label:nth-child(2){
    width: 40%;
  }
  header .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ header .slider{
    left: 0%;
    width: 90px;
    transform: translateX(5%);
  }
  #tab-2:checked ~ header .slider{
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
  }
  #tab-3:checked ~ header .slider{
    left: 100%;
    width: 95px;
    transform: translateX(-105%);
  }
  .wrapper input[type="radio"]{
    display: none;
  }
  .card-area{
    overflow: hidden;
  }
  .card-area .cards{
    display: flex;
    width: 300%;
  }
  .cards .row{
    width: 33.4%;
  }
  .cards .row-1{
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ .card-area .cards .row-1{
     margin-left: 0%;
  }
  #tab-2:checked ~ .card-area .cards .row-1{
    margin-left: -33.4%;
  }
  #tab-3:checked ~ .card-area .cards .row-1{
     margin-left: -66.8%;
  }
  .row .price-details{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
  }
  .price-details .price{
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
  }
  .price-details .price::before,
  .price-details .price::after{
    position: absolute;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
  .price-details .price::before{
    content: "$";
    left: -13px;
    top: 17px;
    font-size: 20px;
  }
  .price-details .price::after{
    content: "/mon";
    right: -33px;
    bottom: 17px;
    font-size: 13px;
  }
  .price-details p{
    font-size: 18px;
    margin-top: 5px;
  }
  .row .features li{
    display: flex;
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
  }
  .features li i{
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  .features li span{
    margin-left: 10px;
  }
  .wrapper button{
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: transform 0.3s ease;
  }
  .wrapper button:hover{
    transform: scale(0.98);
  }
  #Pricing{
    /* text-align: center;
    width: 100%; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .order .row{
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    border-radius: .5rem;
  }
  
  .order .row .image{
    flex:1 1 30rem;
  }
  
  .order .row .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
  }
  
  .order .row form{
    flex:1 1 50rem;
    padding:1rem;
  }
  
  .order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .order .row form .inputBox input, .order .row form textarea{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width:49%;
  }
  
  .order .row form textarea{
    width:100%;
    resize: none;
    height:15rem;
  }
  
  .order .row form .btn{
    background:none;
  }
  
  .order .row form .btn:hover{
    background-image: var(--bgimage);
  }
  

  .footer{
    background:#000;
    text-align: center;
  }
  
  .footer .share{
    display: flex;
    gap:1.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer .credit{
    padding:2.5rem 1rem;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
  }
  
  .footer .credit span{
    color:var(--pink);
  }

  #scroll-top{
    position: fixed;
    top:-120%;
    right:2rem;
    padding:.5rem 1.5rem;
    font-size: 4rem;
    background-image: var(--bgimage);
    color:#fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
  }
  
  #scroll-top.active{
    top:calc(100% - 12rem)
  }

  .loader-container{
    position: fixed;
    top:0; left:0;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
  }
  
  .loader-container.fade-out{
    top:-120%;
  }
  
  
  
  
















/* meadia queries */
@media screen and (max-width: 991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;

    }
    
}

@media screen and (max-width: 768px){
    header .icons #menu-bars{
        display: initial;
        /* display: inline-block; */
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0,0,0,0.2);
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        padding:  1.5rem;
        margin: 1.5rem;
        display:block;
        border:.2rem solid rgba(0,0,0,0.1);
        border-left:1rem solid rgb(140, 166, 219);
        background-color: white;
    }
}

@media screen and (max-width: 400px){
    html{
        font-size: 50%;
    }
    header{
        /* padding: 1rem 2rem; */
    }
    .order .row form .inputBox input{
      width:100%;
    }
    
}