*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

// $pink: #ff0080;
// $black: #222;
// $light-bg: #f5f5f5;
// $light-color: #777;
// $white: #fff;
// $border:.2rem solid $black;
// $box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);



@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap: 2rem;
}
    
html{
    
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 6rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background:#ff0080;
    }
}



.header{
    background: white;
    padding: 1.5rem 9%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0%;
    width: 100%;
    box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header .logo img{
    height: 4rem;
}

.header .search-form{
    width: 50rem;
    height: 5rem;
    border: .2rem solid $black;
    border-radius: .5rem;
    padding:0 1.5rem;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    
}

.header .search-form input{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: 1.6rem;
    color: #777;
    text-transform: none;
}
.header .search-form label{
    font-size: 2rem;
    margin-left: .7rem;
    color: #222;
    cursor: pointer;
  
}
.header .search-form label:hover{
    color:#ff0080;
}

.header .icons a,.icons i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    background-color: #f5f5f5;
    color: #222;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: .3rem;
    border-radius: 0.5rem;


}
.icons i:hover{
    background-color: #ff0080;
    color: white;
}
.header .icons a:hover{
    background-color: #ff0080;
    color: white;
}
#search-btn{
    display: none;
}
.navbar{
    background: rgb(172, 45, 45);
    position: fixed;
  top:0; left:-110%;
  z-index: 1010;
  height: 100%;
  width: 100%;
}
.navbar.active{
    left: 0;
}

@keyframes fadeUp {
    0%{
      transform: translateY(4rem);
      opacity: 0;
    }
  }

  
@media (max-width:768px){

   
     
        .header #search-btn{
        display: inline-block;
      }
  
      .header .search-form{
        position: absolute;
        top:99%; left:0; 
        border-top: $border;
        border-bottom: $border;
        width: 100%;
        background: $white;
        height: 6rem;
        display: none;
        animation: fadeUp .2s linear backwards;
  
        
      }
      .header .search-form.active{
        display: flex;
      }
    
}
// navbar section :start
.navbar{
    position: fixed;
    top:0; left:-110%;
    z-index: 1010;
    height: 100%;
    width: 100%;
    background: url(../images/navbar-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    gap:1rem;
    justify-content: center;
    flex-flow: column;
    align-items: flex-end;
    padding-right: 15%;
  
    
    }
    .navbar::active{
        left:0;}
// navbar section :end
